<header>
    <nav>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
        <li><a routerLink="/booking" routerLinkActive="active">Booking</a></li>
        <li><a routerLink="/pricing" routerLinkActive="active">Pricing</a></li>
        <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
        <li><a routerLink="/testimonials" routerLinkActive="active">Testimonials</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </header>