<app-header></app-header>
<div class="pricing">
    <h2>Pricing Packages</h2>
    <div class="package-list">
      <div class="package-card">
        <h3>Basic Package</h3>
        <p>100Euro</p>
        <p>Includes:</p>
        <ul>
          <li>1 Hour of Photography</li>
          <li>10 Edited Photos</li>
          <li>Online Gallery</li>
        </ul>
        <button>Book Now</button>
      </div>
      
      <div class="package-card">
        <h3>Standard Package</h3>
        <p>200Euro</p>
        <p>Includes:</p>
        <ul>
          <li>2 Hours of Photography</li>
          <li>20 Edited Photos</li>
          <li>Online Gallery</li>
          <li>1 Print</li>
        </ul>
        <button>Book Now</button>
      </div>
  
      <div class="package-card">
        <h3>Premium Package</h3>
        <p>350Euro</p>
        <p>Includes:</p>
        <ul>
          <li>4 Hours of Photography</li>
          <li>50 Edited Photos</li>
          <li>Online Gallery</li>
          <li>2 Prints</li>
          <li>Photo Album</li>
        </ul>
        <button>Book Now</button>
      </div>
    </div>
  </div>
<app-footer></app-footer>
