<app-header></app-header>
<div class="home">
    <h1>Welcome to Siva's Photography</h1>
    <p>Where excellence in photography is our hallmark. We strive to deliver the best in every capture.</p>
    
    <div class="gallery">
      <h2>Gallery</h2>
      <div class="image-grid">
        <img src="assets/images/photos.jpg" alt="Photography 1" />
        <img src="assets/images/photos.jpg" alt="Photography 2" />
        <img src="assets/images/photos.jpg" alt="Photography 3" />
      </div>
    </div>
  </div>
<app-footer></app-footer>